header
	background red
	border 1px solid red
	margin 0 
	padding 0
	width 100%
	figure
		border 1px solid red
		display inline-block
		margin 1em 0 0 5em
		padding 0
		width 300px
		background blue
		width auto
		img
			display inline-block
	ul
		display inline-block
		position absolute
		top 0
		right 0
		list-style none
		li
			display inline-block
			a
				colo white

